@import '../../assets/styles/resources.scss';

#page-checkout {
    display: flex;

    .checkout-content {
        @include page-content;

        h3 {
            margin-top: 12px;
        }

        .nav-buttons {
            @include nav-buttons;
            justify-content: space-evenly;
        }
    }
}
