@import '../../assets/styles/resources.scss';

#page-home {
    @include page-content;

    h3 {
        margin-top: 16px
    }

    .size-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;

        .size-button-wrapper {
            display: flex;
            justify-content: left;
            align-items: center;

            label {
                padding-left: 8px;
            }
        }
    }

    .nav-buttons {
        @include nav-buttons;
    }
}
