#home-content {
    max-width: 660px;
    width: 90vw;
    max-height: 360px;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    background-color: var(--color-background);

    border-radius: 16px;

    padding: 2%;

        .size-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;

            .size-button-wrapper {
                display: flex;
                justify-content: left;
                align-items: center;

                label {
                    padding-left: 8px;
                }
            }
        }

    .nav-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        margin-top: 10px;

        button {
            width: 148px;
            height: 48px;
        }
    }
}